
body {
  margin: 0;
  background-color: #ff1174;
}
h1 {
  color: #1b1b1b;
  margin: 0;
}
p {
  font-family: "Arboria-Book";
  color:#1b1b1b
}

/* NAVBAR 
/* Add a black background color to the top navigation */
.topnav {
  background-color: #1b1b1b;
  overflow: hidden;
  width: 100%;
  margin: 0;
  position: fixed;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #F7CC46;
  text-align: center;
  padding: 14px 16px;
  font-family: "Arboria-Bold";
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: rgb(255, 255, 255);
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}

.BgColour {
  color: black;
  transition: all 0.5s;
  background-color: #F7CC46;
  border-bottom: 1px solid lightgray;
}
/* First Page!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 417724172731285192151232161246 */
.title {
  font-family: "Arboria-Bold";
  font-size: calc(9vw + -1vh);
  display: flex;
  flex-wrap: nowrap;
}

.landingpage1 {
  padding-left: 5%;
  display: inline-flex;
  flex-wrap: wrap;
  line-height: 0.9;
  align-items: center;
  min-width: 840px;
}

.abovetitle {
  font-family: "Arboria-Book";
  font-size: 1000%;
  display: flex;
  font-size: calc(9vw + -2vh);
}
.toptext {
  padding-top: 15%;
  font-family: "Arboria-Book";
  font-size: calc(2.5vw + 0.5vh);
  display: flex;
  flex-wrap: nowrap;
}


.page1 {
  background-color: #F7CC46;
  background-image: url(/hjemmeside/img/Pasta3.png);
  background-size: 40%;
  background-position: right;
  background-repeat: no-repeat;
  min-height: 870px;
  min-width: 800px;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 5%;
}

.flex-container > div {
  background-color: #1b1b1b;
  color: #f1f1f1;
  width: 230px;
  border-radius: 10px;
  max-height: 50px;
  margin: 10px;
  align-items: center;
  text-align: center;
  line-height: 50px;
  font-size: 26px;
  font-family: "Arboria-Book";
}
.flex-container > img {
  width: auto;
  max-height: 50px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/* PAGE 2!!! */
.page2 {
  background-color: #F7CC46;
  min-height: 500px;
}
.flex-container2 {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 5%;
  background-color: #1b1b1b;
  justify-content: center;
}

.flex-container2 > div {
  background-color: #282828;
  color: #F7CC46;
  width: 500%;
  min-height: 120px;
  margin: auto;
  justify-self: auto;
  text-align: center;
  line-height: 120px;
  font-size: 36px;
  font-family: "Arboria-Black";
  justify-content: center;
}
.row:nth-child(odd) {background: #1b1b1b;}